In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
files.upload()

Saving student.csv to student.csv
Saving student1.csv to student1.csv
Saving student3.csv to student3.csv
Saving student3.tsv to student3.tsv
Saving student5.csv to student5.csv

{'student.csv': b'roll,name,class,marks,age\n1,anil,TE,56.77,22\n2,amit,TE,59.77,21\n3,aniket,BE,76.88,19\n4,ajinkya,TE,69.66,20\n5,asha,TE,63.28,20\n6,ayesha,BE,49.55,20\n7,amar,BE,65.34,19\n8,amita,BE,68.33,23\n9,amol,TE,56.75,20\n10,anmol,BE,78.66,21\n',
 'student1.csv': b'1,anil,TE,56.77,22\n2,amit,TE,59.77,21\n3,aniket,BE,76.88,19\n4,ajinkya,TE,69.66,20\n5,asha,TE,63.28,20\n6,ayesha,BE,49.55,20\n7,amar,BE,65.34,19\n8,amita,BE,68.33,23\n9,amol,TE,56.75,20\n10,anmol,BE,78.66,21\n',
 'student3.csv': b'roll,name,class,marks ,age\n1,anil,TE,56.77,22\n2,amit,TE,59.77,21\n3,aniket,BE,76.88,19\n4,ajinkya,TE,69.66,20\n5,asha,TE,63.28,\n6,ayesha,BE,,20\n7,amar,BE,65.34,19\n8,Amita,be,68.33,23\n9,amol,TE,56.75,20\n9,amol,TE,56.75,20\n10,anmol,BE,78.66,\n11,surbhi,TE,,23\n12,Sujay,TE,74.12,22\n13,subhash,be,88.45,21\n14,sachin,,59.33,21\n15,shalini,TE,63.45,20\n',
 'student3.tsv': b'roll\tname\tclass\tmarks\tage\n1\tanil\tTE\t56.77\t22\n2\tamit\tTE\t59.77\t21\n3\taniket\tBE\t76.88\t19\n4\tajinkya\tTE\t69.66\t20\n5\tasha\tTE\t63.28\t20\n6\tayesha\tBE\t49.55\t20\n7\tamar\tBE\t65.34\t19\n8\tamita\tBE\t68.33\t23\n9\tamol\tTE\t56.75\t20\n10\tanmol\tBE\t78.66\t21\n',
 'student5.csv': b'roll,name,class,marks,age\n1,surbhi,TE,67.44,23\n2,sujay,TE,74.12,22\n3,subhash,BE,82.44,21\n4,sachin,TE,59.33,21\n5,shalini,TE,63.45,20\n'}

In [3]:
df = pd.read_csv("student.csv")

In [4]:
df

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [5]:
# student1.csv

In [6]:
df1 = pd.read_csv("student1.csv")
df1

    1     anil  TE  56.77  22
0   2     amit  TE  59.77  21
1   3   aniket  BE  76.88  19
2   4  ajinkya  TE  69.66  20
3   5     asha  TE  63.28  20
4   6   ayesha  BE  49.55  20
5   7     amar  BE  65.34  19
6   8    amita  BE  68.33  23
7   9     amol  TE  56.75  20
8  10    anmol  BE  78.66  21

In [7]:
cols = ["roll", "name","class", "marks", "age"]

In [8]:
df1 = pd.read_csv("student1.csv", names= cols)
df1

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [9]:
# student3.tsv

In [11]:
df2 = pd.read_csv("student3.tsv", sep = "\t")
df2

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [12]:
df

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [13]:
df.columns

Index(['roll', 'name', 'class', 'marks', 'age'], dtype='object')

In [14]:
df.describe()

           roll      marks        age
count  10.00000  10.000000  10.000000
mean    5.50000  64.499000  20.500000
std     3.02765   9.207179   1.269296
min     1.00000  49.550000  19.000000
25%     3.25000  57.520000  20.000000
50%     5.50000  64.310000  20.000000
75%     7.75000  69.327500  21.000000
max    10.00000  78.660000  23.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   roll    10 non-null     int64
 1   name    10 non-null     object
 2   class   10 non-null     object
 3   marks   10 non-null     float64
 4   age     10 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 532.0+ bytes

In [16]:
df.head()

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20

In [17]:
df.tail()

   roll    name class  marks  age
5     6  ayesha    BE  49.55   20
6     7    amar    BE  65.34   19
7     8   amita    BE  68.33   23
8     9    amol    TE  56.75   20
9    10   anmol    BE  78.66   21

In [18]:
df

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [19]:
df.drop(5)
# drop rows of index -> 3, 6, 7

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [20]:
df.drop([3, 6, 7])

   roll    name class  marks  age
0     1    anil    TE  56.77   22
1     2    amit    TE  59.77   21
2     3  aniket    BE  76.88   19
4     5    asha    TE  63.28   20
5     6  ayesha    BE  49.55   20
8     9    amol    TE  56.75   20
9    10   anmol    BE  78.66   21

In [22]:
df.drop("class", axis = 1)

   roll     name  marks  age
0     1     anil  56.77   22
1     2     amit  59.77   21
2     3   aniket  76.88   19
3     4  ajinkya  69.66   20
4     5     asha  63.28   20
5     6   ayesha  49.55   20
6     7     amar  65.34   19
7     8    amita  68.33   23
8     9     amol  56.75   20
9    10    anmol  78.66   21

In [23]:
df

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [24]:
df.iloc[3:8, 0:4]

   roll     name class  marks
3     4  ajinkya    TE  69.66
4     5     asha    TE  63.28
5     6   ayesha    BE  49.55
6     7     amar    BE  65.34
7     8    amita    BE  68.33

In [25]:
df.iloc[[2, 3, 5, 7, 8], :4]

   roll     name class  marks
2     3   aniket    BE  76.88
3     4  ajinkya    TE  69.66
5     6   ayesha    BE  49.55
7     8    amita    BE  68.33
8     9     amol    TE  56.75

In [26]:
df.loc[:, "name"]

0       anil
1       amit
2     aniket
3    ajinkya
4       asha
5     ayesha
6       amar
7      amita
8       amol
9      anmol
Name: name, dtype: object

In [27]:
df.name

0       anil
1       amit
2     aniket
3    ajinkya
4       asha
5     ayesha
6       amar
7      amita
8       amol
9      anmol
Name: name, dtype: object

In [28]:
df['name']

0       anil
1       amit
2     aniket
3    ajinkya
4       asha
5     ayesha
6       amar
7      amita
8       amol
9      anmol
Name: name, dtype: object

In [29]:
df

   roll     name class  marks  age
0     1     anil    TE  56.77   22
1     2     amit    TE  59.77   21
2     3   aniket    BE  76.88   19
3     4  ajinkya    TE  69.66   20
4     5     asha    TE  63.28   20
5     6   ayesha    BE  49.55   20
6     7     amar    BE  65.34   19
7     8    amita    BE  68.33   23
8     9     amol    TE  56.75   20
9    10    anmol    BE  78.66   21

In [30]:
df['roll'] = df['roll'] + 100
# add the gender column

In [31]:
df

   roll     name class  marks  age
0   101     anil    TE  56.77   22
1   102     amit    TE  59.77   21
2   103   aniket    BE  76.88   19
3   104  ajinkya    TE  69.66   20
4   105     asha    TE  63.28   20
5   106   ayesha    BE  49.55   20
6   107     amar    BE  65.34   19
7   108    amita    BE  68.33   23
8   109     amol    TE  56.75   20
9   110    anmol    BE  78.66   21

In [32]:
gender = ['m', 'm', 'm', 'm', 'f', 'f', 'm', 'f', 'm', 'm']

In [33]:
df['gender'] = gender

In [34]:
df

   roll     name class  marks  age gender
0   101     anil    TE  56.77   22      m
1   102     amit    TE  59.77   21      m
2   103   aniket    BE  76.88   19      m
3   104  ajinkya    TE  69.66   20      m
4   105     asha    TE  63.28   20      f
5   106   ayesha    BE  49.55   20      f
6   107     amar    BE  65.34   19      m
7   108    amita    BE  68.33   23      f
8   109     amol    TE  56.75   20      m
9   110    anmol    BE  78.66   21      m

In [35]:
df

   roll     name class  marks  age gender
0   101     anil    TE  56.77   22      m
1   102     amit    TE  59.77   21      m
2   103   aniket    BE  76.88   19      m
3   104  ajinkya    TE  69.66   20      m
4   105     asha    TE  63.28   20      f
5   106   ayesha    BE  49.55   20      f
6   107     amar    BE  65.34   19      m
7   108    amita    BE  68.33   23      f
8   109     amol    TE  56.75   20      m
9   110    anmol    BE  78.66   21      m

In [37]:
df['name'].str.upper()

0       ANIL
1       AMIT
2     ANIKET
3    AJINKYA
4       ASHA
5     AYESHA
6       AMAR
7      AMITA
8       AMOL
9      ANMOL
Name: name, dtype: object

In [38]:
df['name'].str.startswith('an')

0     True
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9     True
Name: name, dtype: bool

In [39]:
df['marks'].mean()

np.float64(64.499)

In [40]:
df

   roll     name class  marks  age gender
0   101     anil    TE  56.77   22      m
1   102     amit    TE  59.77   21      m
2   103   aniket    BE  76.88   19      m
3   104  ajinkya    TE  69.66   20      m
4   105     asha    TE  63.28   20      f
5   106   ayesha    BE  49.55   20      f
6   107     amar    BE  65.34   19      m
7   108    amita    BE  68.33   23      f
8   109     amol    TE  56.75   20      m
9   110    anmol    BE  78.66   21      m

In [41]:
gr = df.groupby('class')

In [43]:
gr.groups

{'BE': [2, 5, 6, 7, 9], 'TE': [0, 1, 3, 4, 8]}

In [44]:
gr.get_group("BE")

   roll    name class  marks  age gender
2   103  aniket    BE  76.88   19      m
5   106  ayesha    BE  49.55   20      f
6   107    amar    BE  65.34   19      m
7   108   amita    BE  68.33   23      f
9   110   anmol    BE  78.66   21      m

In [45]:
gr['marks'].mean()

class
BE    67.752
TE    61.246
Name: marks, dtype: float64

In [46]:
# data cleaning

In [50]:
df = pd.read_csv("student3.csv")

In [51]:
df

    roll     name class  marks    age
0      1     anil    TE   56.77  22.0
1      2     amit    TE   59.77  21.0
2      3   aniket    BE   76.88  19.0
3      4  ajinkya    TE   69.66  20.0
4      5     asha    TE   63.28   NaN
5      6   ayesha    BE     NaN  20.0
6      7     amar    BE   65.34  19.0
7      8    Amita    be   68.33  23.0
8      9     amol    TE   56.75  20.0
9      9     amol    TE   56.75  20.0
10    10    anmol    BE   78.66   NaN
11    11   surbhi    TE     NaN  23.0
12    12    Sujay    TE   74.12  22.0
13    13  subhash    be   88.45  21.0
14    14   sachin   NaN   59.33  21.0
15    15  shalini    TE   63.45  20.0

In [52]:
df['name']

0        anil
1        amit
2      aniket
3     ajinkya
4        asha
5      ayesha
6        amar
7       Amita
8        amol
9        amol
10      anmol
11     surbhi
12      Sujay
13    subhash
14     sachin
15    shalini
Name: name, dtype: object

In [53]:
df['name'] = df['name'].str.title()

In [54]:
df

    roll     name class  marks    age
0      1     Anil    TE   56.77  22.0
1      2     Amit    TE   59.77  21.0
2      3   Aniket    BE   76.88  19.0
3      4  Ajinkya    TE   69.66  20.0
4      5     Asha    TE   63.28   NaN
5      6   Ayesha    BE     NaN  20.0
6      7     Amar    BE   65.34  19.0
7      8    Amita    be   68.33  23.0
8      9     Amol    TE   56.75  20.0
9      9     Amol    TE   56.75  20.0
10    10    Anmol    BE   78.66   NaN
11    11   Surbhi    TE     NaN  23.0
12    12    Sujay    TE   74.12  22.0
13    13  Subhash    be   88.45  21.0
14    14   Sachin   NaN   59.33  21.0
15    15  Shalini    TE   63.45  20.0

In [55]:
df['class'] = df['class'].str.upper()

In [58]:
df['marks ']

0     56.77
1     59.77
2     76.88
3     69.66
4     63.28
5       NaN
6     65.34
7     68.33
8     56.75
9     56.75
10    78.66
11      NaN
12    74.12
13    88.45
14    59.33
15    63.45
Name: marks , dtype: float64

In [57]:
df.columns

Index(['roll', 'name', 'class', 'marks ', 'age'], dtype='object')

In [59]:
df.columns = df.columns.str.strip()

In [60]:
df['marks']

0     56.77
1     59.77
2     76.88
3     69.66
4     63.28
5       NaN
6     65.34
7     68.33
8     56.75
9     56.75
10    78.66
11      NaN
12    74.12
13    88.45
14    59.33
15    63.45
Name: marks, dtype: float64

In [61]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
dtype: bool

In [62]:
df.duplicated().sum()

np.int64(1)

In [63]:
df.drop_duplicates(inplace= True)

In [64]:
df.isnull()

     roll   name  class  marks    age
0   False  False  False  False  False
1   False  False  False  False  False
2   False  False  False  False  False
3   False  False  False  False  False
4   False  False  False  False   True
5   False  False  False   True  False
6   False  False  False  False  False
7   False  False  False  False  False
8   False  False  False  False  False
10  False  False  False  False   True
11  False  False  False   True  False
12  False  False  False  False  False
13  False  False  False  False  False
14  False  False   True  False  False
15  False  False  False  False  False

In [67]:
df.isnull().sum()

roll     0
name     0
class    1
marks    2
age      2
dtype: int64

In [68]:
df.dropna()

    roll     name class  marks   age
0      1     Anil    TE  56.77  22.0
1      2     Amit    TE  59.77  21.0
2      3   Aniket    BE  76.88  19.0
3      4  Ajinkya    TE  69.66  20.0
6      7     Amar    BE  65.34  19.0
7      8    Amita    BE  68.33  23.0
8      9     Amol    TE  56.75  20.0
12    12    Sujay    TE  74.12  22.0
13    13  Subhash    BE  88.45  21.0
15    15  Shalini    TE  63.45  20.0

In [69]:
df

    roll     name class  marks   age
0      1     Anil    TE  56.77  22.0
1      2     Amit    TE  59.77  21.0
2      3   Aniket    BE  76.88  19.0
3      4  Ajinkya    TE  69.66  20.0
4      5     Asha    TE  63.28   NaN
5      6   Ayesha    BE    NaN  20.0
6      7     Amar    BE  65.34  19.0
7      8    Amita    BE  68.33  23.0
8      9     Amol    TE  56.75  20.0
10    10    Anmol    BE  78.66   NaN
11    11   Surbhi    TE    NaN  23.0
12    12    Sujay    TE  74.12  22.0
13    13  Subhash    BE  88.45  21.0
14    14   Sachin   NaN  59.33  21.0
15    15  Shalini    TE  63.45  20.0

In [70]:
df['marks'].fillna(df['marks'].mean())
# fill the class col with mode

0     56.770000
1     59.770000
2     76.880000
3     69.660000
4     63.280000
5     67.753077
6     65.340000
7     68.330000
8     56.750000
10    78.660000
11    67.753077
12    74.120000
13    88.450000
14    59.330000
15    63.450000
Name: marks, dtype: float64

In [71]:
df['class'].mode()

0    TE
Name: class, dtype: object

In [72]:
df['class'].fillna(df['class'].mode()[0])

0     TE
1     TE
2     BE
3     TE
4     TE
5     BE
6     BE
7     BE
8     TE
10    BE
11    TE
12    TE
13    BE
14    TE
15    TE
Name: class, dtype: object

In [73]:
df.ffill()

    roll     name class  marks   age
0      1     Anil    TE  56.77  22.0
1      2     Amit    TE  59.77  21.0
2      3   Aniket    BE  76.88  19.0
3      4  Ajinkya    TE  69.66  20.0
4      5     Asha    TE  63.28  20.0
5      6   Ayesha    BE  63.28  20.0
6      7     Amar    BE  65.34  19.0
7      8    Amita    BE  68.33  23.0
8      9     Amol    TE  56.75  20.0
10    10    Anmol    BE  78.66  20.0
11    11   Surbhi    TE  78.66  23.0
12    12    Sujay    TE  74.12  22.0
13    13  Subhash    BE  88.45  21.0
14    14   Sachin    BE  59.33  21.0
15    15  Shalini    TE  63.45  20.0

In [74]:
df.bfill(inplace= True)

In [75]:
df.isnull().sum()

roll     0
name     0
class    0
marks    0
age      0
dtype: int64